<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ubtrobot.callingsystemservices">

    <uses-permission android:name="com.ubtrobot.permission.ROBOT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <uses-library
        android:name="com.ubtrobot.rosa"
        android:required="true" />
        <service
            android:name="com.ubtrobot.app.Bootstrap"
            android:exported="true" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".speech.SpeechActivity" />
        <activity android:name=".navigation.NavigationActivity" />
        <activity android:name=".motion.MotionActivity" />
        <activity android:name=".locomotion.LocomotionActivity" />
        <activity android:name=".light.LightActivity" />
        <activity android:name=".emotion.EmotionActivity" />
        <activity android:name=".resource.ResourceActivity" />
        <activity android:name=".orchestration.OrchestrationActivity" />
        <activity android:name=".power.PowerActivity" />
        <activity android:name=".sensor.SensorActivity" />
        <activity android:name=".servo.ServoActivity" />
        <activity android:name=".part.PartActivity" />
        <activity android:name=".recharging.RechargingActivity" />
        <activity android:name=".audio.AudioActivity" />
        <activity android:name=".diagnosis.DiagnosisActivity" />
       <!-- other-->
        <activity android:name="com.ubtrobot.cruzr.OtherActivity"/>
        <activity android:name="com.ubtrobot.cruzr.leisure.LeisureActivity"/>
        <activity android:name="com.ubtrobot.cruzr.media.MediaActivity"/>
        <activity android:name="com.ubtrobot.cruzr.voiceass.VoiceAssistantActivity"/>
        <activity android:name="com.ubtrobot.cruzr.user.UserActivity"/>
        <activity android:name="com.ubtrobot.cruzr.visual.VisualActivity"/>
        <activity android:name="com.ubtrobot.cruzr.settings.SettingsActivity"/>
    </application>
</manifest>
